/* modal.css */

.modal {
  display: none;
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.9);
}

.modal-content {
  background-color: #111;
  margin: 10% auto;
  padding: 1rem;
  border: 1px solid #444;
  width: 80%;
  max-width: 800px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(255,255,255,0.2);
}

.close {
  color: #fff;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
