/* search-bar.css */

/* Search Bar */
.search-bar {
  text-align: center;
  margin-bottom: 30px;
}

.search-bar input {
  padding: 0.7rem 1.2rem;
  font-size: 1rem;
  border-radius: 6px;
  border: none;
  width: 300px;
  max-width: 80%;
  background-color: #2a2a2a;
  color: #fff;
}
